<html>
<head>
        <meta charset="utf-8">
                <title>Michigan Avenue Dental Associates Registration Form</title>
                <link rel="stylesheet" href="doctor.css">
</head>

<body>
        
        <div id="container">

        <!-- PATIENT INFORMATION -->

                <div class="line-one first-name"> 
                        <p><%= @user.first-name %></p>
                        <!--<ul class="first-name line-one">
                                <li>Rashad</li>
                                <li>A</li>
                                <li>Abdul-Salaam</li>
                                <li>32</li>
                                <li>8/17/1980</li>
                        </ul>-->
                </div>
                
                <!--<div class="line-one middle-init">
                        <p><%= @user.middle-init %></p>
                </div>-->

                <div class="line-one last-name ">
                        <p><%= @user.last-name %></p>
                </div>
                <div class="line-one age">
                        <p><%= @user.age %></p>
                </div>
                <div class="line-one dob">
                        <p><%= @user.dob %></p>
                </div>
                <div class="line-two user-address">
                        <p><%= @user.address %></p>
                </div>

                <div class="line-two user-email">
                        <p><%= @user.email %></p>
                </div>
                
                <div class="line-three city">
                        <p><%= @user.city %></p>
                </div>

                <div class="line-three state">
                        <p><%= @user.state %></p>
                </div>

                <!--<div class="line-three zip">
                        <p><%= @user.zip %></p>
                </div>-->

                <div class="line-three phone">
                        <p><%= @user.phone %></p>
                </div>

                <div class="line-three social-security-number">
                        <p><%= @user.social-security-number %></p>
                </div>

                <div class="line-four employer-name">   
                        <p><%= @user.employer-name %></p>
                </div>

                <div class="line-four employer-address">
                        <p><%= @user.employer-address %></p>
                </div>

                <div class="line-four employer-phone">
                        <p><%= @user.employer-phone %></p>
                </div>

                -<div class="line-five employer-city">
                        <p><%= @user.employer-city %></p>
                </div>

                <!--<div class="line-five employer-state">
                        <p><%= @user.employer-state %></p>
                </div>-->

                <div class="line-five employer-zip">
                        <p><%= @user.employer-zip %></p>
                </div>

                <div class="line-six referring-physician">
                        <p><%= @user.referring-physician %></p>
                </div>

        <!-- PATIENT'S INSURANCE -->

                <div class="line-ten insurance-company">
                        <p><%= @user.insurance-company %></p>
                </div>

                <div class="line-ten insurer-address">
                        <p><%= @user.insurance-address %></p>
                </div>

                <div class="line-eleven insurer-policy-holder">
                        <p><%= @user.insurer-policy-holder %></p>
                </div>

                <div class="line-eleven insurer-coverage">
                        <p><%= @user.insurer-coverage %></p>
                </div>

                <div class="line-twelve insurance-policy-employer">
                        <p><%= @user.insurance-policy-employer %></p>
                </div>

                <div class="line-twelve insured-soc-number">
                        <p><%= @user.insured-soc-number %></p>
                </div>

        <!-- SPOUSE'S INSURANCE -->

                <div class="line-thirteen spouse-insurance-company">
                        <p><%= @user.spouse-insurance-company %></p>
                </div>

                <div class="line-thirteen spouse-insurer-address">
                        <p><%= @user.spouse-insurer-address %></p>
                </div>

                <div class="line-fourteen spouse-insurer-policy-holder">
                        <p><%= @user.spouse-insurer-policy-holder %></p>
                </div>

                <div class="line-fourteen spouse-insurer-coverage">
                        <p><%= @user.spouse-insurer-policy-holder %></p>
                </div>

                <div class="line-fifteen spouse-employer-name">
                        <p><%= @user.spouse-employer-name %></p>
                </div>

                <div class="line-fifteen spouse-employer-address">
                        <p><%= @user.spouse-employer-address %></p>
                </div>

                <!--<div class="line-fifteen spouse-employer-phone">
                        <p><%= @user.spouse-employer-phone %></p>
                </div>-->

                <div class="line-sixteen spouse-employer-city">
                        <p><%= @user.spouse-employer-city %></p>
                </div>

                <!--<div class="line-sixteen spouse-employer-zip">
                        <p><%= @user.spouse-employer-zip %></p>
                </div>-->

        <!-- MISCELLANEOUS INFORMATION -->

                <div class="line-eighteen emergency-name">
                        <p><%= @user.emergency-name %></p>
                </div>

                <div class="line-eighteen emergency-address">
                        <p><%= @user.emergency-address %></p>
                </div>

                <div class="line-eighteen emergency-relationship">
                        <p><%= @user.emergency-relationship %></p>
                </div>

                <div class="line-eighteen emergency-phone">
                        <p><%= @user.emergency-phone %></p>
                </div>

                <div class="line-nineteen emergency-name-2">
                        <p><%= @user.emergency-name-2 %></p>    
                </div>

                <div class="line-nineteen emergency-address-2">
                        <p><%= @user.emergency-address-2 %></p>
                </div>

                <div class="line-nineteen emergency-relationship-2">
                        <p><%= @user.emergency-relationship-2 %></p>
                </div>

                <div class="line-nineteen emergency-phone-2">
                        <p><%= @user.emergency-phone-2 %></p>
                </div>


        </div>
        
</body>
</html>